/* 
   Title: 
   	LectureDoc-Typography
   
   Author: 
   	Michael Eichberg
	Marco Jacobasch
   	
   Description: 
   	CSS that is used to provide a shared layout for the lecture notes
   	between the each mode.

   Copyright:
   	Licensed under the Apache License, Version 2.0 (the "License");
   	you may not use this file except in compliance with the License.
   	You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

   	Unless required by applicable law or agreed to in writing, software
   	distributed under the License is distributed on an "AS IS" BASIS,
   	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   	See the License for the specific language governing permissions and
   	limitations under the License.
 */

@import "../LectureDoc-Globals.less";
@import "../utils/LectureDoc-Mixins.less";

/* Default font settings --------------------------------------------------- */
html {
	font-size: 100.0%;
}

body {
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    margin: 0;
    word-wrap: break-word;
}

/* Headings ---------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.5em;
}

h1 {
    font-size: 2.0em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.125em;
}

h5 {
    font-size: 1em;
}

h6 {
}

/* Text -------------------------------------------------------------------- */
p {
    font-size: 1.0em;
    line-height: 1.3em;
    margin: 1.3em 0;
}

a {
    text-decoration: none;
    -webkit-transition: color .2s ease-in-out;
}

article {
	font-size:0.8em;
}

pre, code {
	font-family: "Courier New", monospace;
	line-height: 1.1em;
	font-size: 0.95em;
}

pre {
	margin: 1em 0;
}

blockquote {
	margin: 1em 40px;
}

blockquote p {
	font-size: 1.1em;
	font-style: italic;
	line-height: 1.6em;
}

em {
	font-style: italic;
}

strong {
	font-weight: 700;
}

/* important rules for keeping line-height from being affected by sub */
sup, sub, a.footnote {
    font-size: 1.4em;
    height: 0;
    line-height: 1em;
    position: relative;
}

sup {
    vertical-align: super;
}

sub {
    vertical-align: sub;
    top: -1px;
}

caption {
    display: table-caption;
    font-weight: 700;
}

figure {
    display: inline-block;
    margin-bottom: 1.2em;
    position: relative;
    margin: 1em 0;
}

figcaption {
    font-style: italic;    
    text-align: center;
    position: absolute;
    left: 0;
    bottom: -24px;
    width: 98%;
    padding: 1%;
    -webkit-transition: all .2s ease-in-out;
}

/* Lists ------------------------------------------------------------------- */

ul, ol {
	margin: 1em 0;
	padding-left: 40px;
	
	ul, ol {
   	 margin-bottom:.4em
	}
}

ul {
	list-style: disc outside;
	
	ul {
		list-style: circle;
	}
}

ol {
	list-style: decimal outside;
}

li {
    font-size: 1.1em;
    margin-bottom: 0.5em;
    line-height: 1.35em;
	
    > p:first-child {
    	margin: 0;
	}
    
    li {
    	font-size: 1em;
	}
	
	p {
	    font-size: 1em;
	    margin: 0.5em 0;
	}
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: 1em;
}

/* Tables ------------------------------------------------------------------ */

table {
    border-collapse: collapse;
    display: table;
    empty-cells: hide;
    margin: -1px 0 23px;
    padding: 0;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    
    th, td {
	    font-size: 1.1em;
	    padding: 0.5em;
	}

	th {
	    font-weight: 700;
	}
}

/* Misc -------------------------------------------------------------------- */

aside {
	font-size: 0.9em;
	padding: 1.5em;
	margin: 1.5em;
	border-radius: 1em;
}

.footnote {
    color: #0d6ea1;
    font-size: .8em;
    vertical-align: super
}

#wrapper img {
    max-width: 100%;
    height: auto
}

/* Styles used when "Tab-indented text is poetry" is set */
.poetry pre {
    display: block;
    font-family: Georgia, Garamond, serif !important;
    font-size: 1.1em !important;
    font-style: italic;
    line-height: 1.6em;
    margin-left: 1em
}

.poetry pre code {
    font-family: Georgia, Garamond, serif !important
}

div.statement {
	font-size: 1.75em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.75em;
	margin-bottom: 1.75em;
	padding: 0.75em;
	line-height: 1.4em;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	.box-shadow(5px 5px 10px #d6d6d6)
}

section.story {
	border-left: 1px solid #333;
	margin-left: 0.5em;
	padding-left: 0.5em;
}

/* Screen-only styles ------------------------------------------------------ */
@media screen {
	#wrapper {
		padding: 20px
	}
}

/* print only styles. Keep it clean ---------------------------------------- */
@media print {
    body {
        overflow: auto;
    }
    
    img, pre, blockquote, table, figure, p {
        page-break-inside: avoid
    }
    
    .footnotes {
    	page-break-before: always;
   	}
    
    #wrapper {
        background: #fff;
        color: #303030;
        font-size: 85%;
        padding: 10px;
        position: relative;
        text-indent: 0;
    }
}