<h2>Strategy Design Pattern</h2>
<h3>The Strategy Pattern in a Nutshell</h3>
<section class="slide" data-title="The Strategy Pattern in a Nutshell"><div class="section-body"><h1>The Strategy Pattern in a Nutshell</h1>
<p><img src="Images/DP-Strategy-Structure.png" alt="DP Strategy Structure" /></p>
<p><em>Intent</em>:</p>
<ul>
<li>Define a family of algorithms,</li>
<li>Encapsulate each one,</li>
<li>Make them interchangeable at runtime.</li>
</ul>
</div></section>
<section class="slide"><div class="section-body"><h1>The Strategy Pattern in a Nutshell</h1>
<p><img src="Images/DP-Strategy-Structure.png" alt="DP Strategy Structure" /></p>
<div class="statement">Strategy lets the algorithm vary dynamically and independently from clients that use it.</div>
</div></section>
<section class="slide" data-title="When to Use the Strategy Pattern"><div class="section-body"><h1>When to Use the Strategy Pattern</h1>
<p><img src="Images/DP-Strategy-Structure.png" alt="DP Strategy Structure" /></p>
<ul>
<li><p>You need different variants of an algorithm.</p>
</li>
<li><p>You need to select the variant of an <strong>algorithm dynamically</strong>.</p>
</li>
</ul>
</div></section>
<p><strong>You need different variants of an algorithm.</strong></p>
<ul>
<li>Strategies can be used when variants of algorithms are implemented as a class hierarchy.</li>
<li>Many related classes differ only in their behavior rather than implementing different related abstractions (types).</li>
<li>Strategies allow to configure a class with one of many behaviors.</li>
</ul>
<p><strong>You need to select the variant of an algorithm dynamically.</strong></p>
<ul>
<li>There are classes in your design that define many behaviors that appear as multiple conditional statements in its operations.</li>
<li>Move related conditional branches into a strategy.</li>
</ul>
<section class="slide" data-title="Strategy as an Alternative to Inheritance"><div class="section-body"><h1>Strategy as an Alternative to Inheritance</h1>
<p>The Strategy Pattern represents an alternative to modeling different algorithms (sub-behaviors) as subclasses of a usage Context.</p>
<p>Inheritance mixes an algorithm‘s implementation with that of the Context. <strong>The Context may become harder to understand, maintain, extend.</strong></p>
<p>Inheritance results in many related classes which only differ in the algorithm or behavior they employ.</p>
<p>When using subclassing we cannot vary the algorithm dynamically.</p>
</div></section>
<p>Encapsulating the algorithm in a Strategy:</p>
<ul>
<li>Lets you vary the algorithm independently of its usage context.</li>
<li>Makes it easier to switch, understand, and extend the algorithm.</li>
</ul>
<section class="slide" data-title="Sorting Example with Strategy"><div class="section-body"><h1>Sorting Example with Strategy</h1>
<p><img src="Images/DP-Strategy-Example.png" alt="DP Strategy Example" /></p>
</div></section>
<p><code>BubbleSorter</code> and <code>QuickSorter</code> embody different high-level policies for sorting the elements of a list. They outsource to <code>SortHandle</code> the decision about the concrete mechanisms for element ordering and for swapping. <code>SortHandle</code> declares the common interface of low-level sorting mechanisms. <code>IntSortHandle</code> and <code>DoubleSortHandle</code> implement this interface in different ways.</p>
<p>Not only are sorting policies reusable with (independent of) different ordering and swapping mechanisms; the latter become reusable with (independent of) different high-level sorting policies. </p>
<p>Furthermore, it is possible to customize the mechanisms dynamically.</p>
<p><strong>Recall the dependency-inversion principle: High-level policies should not depend on low-level mechanisms. Both should depend on abstractions.</strong></p>
<section class="slide" data-title="Example: LayoutManager in Swing"><div class="section-body"><h1>Concrete Example: LayoutManager in Swing</h1>
<p><img src="Images/DP-Strategy-LayoutManager.png" alt="DP StrategyLayoutManager" /></p>
<pre><code class="Java">class Container extends Component{
  LayoutManager layoutMgr;
  … 
  public LayoutManager getLayout() {
    return layoutMgr;
  }
  
  public void layout() {
    layoutMgr.layoutContainer(this);
  }
  … 
}  
</code></pre>
</div></section>
<p>For illustration, consider Java Containers with dynamically customizable strategies for laying out its components.</p>
<p>To keep the design open for future extensions, we „outsource“ the variable layout functionality to a strategy object of type <code>LayoutManager</code>. </p>
<p>Container objects hold a reference <code>layoutMgr</code> to a Container object and implement operations for managing this reference. </p>
<p>All operations, whose implementations depend on layout functionality, call specific methods in the interface of <code>LayoutManager</code>.</p>
<section class="slide" data-title="Functional Counterpart of Strategies"><div class="section-body"><h1>Functional Counterpart of Strategies</h1>
<p>One can look at the Strategy pattern as a style for emulating first-class functions available in functional programming languages.</p>
<aside data-title="First-class Functions"><div class="aside-body"><p>First-class functions are values that can be passed as parameters and returned as results.</p>
</div></aside>
<p><strong>Strategy objects</strong> encapsulate sub-computations in first-class values that can be passed as parameters and returned as results of other computations (methods).</p>
</div></section>
<h3>The Cost of the Strategy Pattern</h3>
<p>There are trade-offs to be made to profit from the advantages of the Strategy pattern.</p>
<p>These trade-offs must be known and carefully considered when using the Strategy. </p>
<section class="slide" data-title="Footprint of Variations in Base Functionality"><div class="section-body"><h1>Footprint of Variations in Base Functionality</h1>
<pre><code class="Java">class Container extends Component{
  LayoutManager layoutMgr;
  … 
  public LayoutManager getLayout() {
    return layoutMgr;
  }
  
  public void layout() {
    layoutMgr.layoutContainer(this);
  }
  … 
}  
</code></pre>
<ul>
<li>The field <code>layoutMgr</code></li>
<li>Methods to manage strategy objects; e.g., <code>setLayout</code></li>
<li>Facade methods forwarding functionality to strategy, e.g., <code>layout</code></li>
</ul>
</div></section>
<p>There may be clients which are not interested in layout functionality. Hence, this can be considered as a violation of the Single-Responsibility Principle and the Interface-Segregation Principle.</p>
<section class="slide" data-title=" Structural Variation is not Supported"><div class="section-body"><h1>Structural Variation is not Supported</h1>
<ul>
<li><p>The Strategy interface must <strong>fit the needs of all possible variations</strong> of the outsourced feature.</p>
</li>
<li><p>This may lead to bloated („One Size Fits All“) interfaces. <br />
The interfaces might be too complicated for some clients not interested in sophisticated variations of a feature.</p>
</li>
<li><p>Careful anticipation of the needs of future variations is needed when designing the interface. </p>
</li>
<li>Aggravates extensibility.</li>
</ul>
</div></section>
<section class="slide" data-title="An Example „One Size Fits All“-Interface"><div class="section-body"><h1>An Example „One Size Fits All“-Interface</h1>
<pre><code class="Java">interface ListSelectionModel { 
  int SINGLE_SELECTION = 0; 
  int SINGLE_INTERVAL_SELECTION = 1; 
  int MULTIPLE_INTERVAL_SELECTION = 2; 

  /** … 
   * In {@code SINGLE_SELECTION} selection mode, 
   * this is equivalent to calling {@code setSelectionInterval}, 
   * and only the second index is used. 
   * In {@code SINGLE_INTERVAL_SELECTION} selection mode, 
   * this method behaves like {@code setSelectionInterval}, 
   * unless the given interval is immediately 
   * adjacent to or overlaps the existing selection, 
   * and can therefore be used to grow the selection. 
   * … 
   */ 
   void addSelectionInterval(int index0, int index1); 
   … 
} 
</code></pre>
</div></section>
<p>Consider the list selection feature in Java’s Swing library. This feature is outsourced to the class <code>ListSelectionModel</code>. The interface of <code>ListSelectionModel</code> is designed to satisfy the needs of the most flexible selection model (multiple interval selection). As a result, the interface is too complicated for clients of simpler selection models. See the comments of the methods in the interface. </p>
<p>Yet, the design is not flexible enough, e.g., to cover the needs of extensions of the selection model with arbitrary cell range selection.</p>
<section class="slide" data-title="When the „One Size Fits All“-Interface doesn&apos;t fit!"><div class="section-body"><h1>When the „One Size Fits All“-Interface Doesn&apos;t fit!</h1>
<h2>Example from Java Swing&apos;s <code>JComponent</code></h2>
<p>  <img src="Images/DP-Strategy-LayoutManagerRefinement.png"></p>
<pre><code class="Java">// javax.swing.JComponent - OpenJDK / 6-b14
1804  public float getAlignmentY() {
1805    float yAlign;
1806    if (layoutMgr instanceof LayoutManager2) {
1807      synchronized (getTreeLock()) {
1808        LayoutManager2 lm = (LayoutManager2) layoutMgr;
1809        yAlign = lm.getLayoutAlignmentY(this);
1810      }
1811    } else {
1812      yAlign = super.getAlignmentY();
1813    }
1814    return yAlign;
1815  }
</code></pre>
</div></section>
<p>At some point, the designers of the <code>LayoutManager</code> were forced to evolve the interface to satisfy new/additional requirements posed by tool builders. This required a new interface that inherits from the original interface. Eventually, type checks and typecasts become necessary and significantly hamper code comprehension, maintainability, testability, and extensibility.</p>
<section class="slide" data-title="Communication Overhead"><div class="section-body"><h1>Communication Overhead</h1>
<ul>
<li><p>Some concrete strategies won&apos;t use all information passed to them.</p>
<ul>
<li>Simple concrete strategies may use none of it.</li>
<li>Context creates/initializes parameters that never get used.</li>
</ul>
</li>
<li><p>If this is an issue, consider using a tighter coupling between Strategy and Context. Let Strategy know about Context.<br />
<strong>Two Ways of Strategy-Context Interaction:</strong></p>
<ol>
<li>Pass the needed information as a parameter.<br />
<strong>+</strong> Context and Strategy decoupled.<br />
<strong>-</strong> Interaction overhead.<br />
<strong>-</strong> Algorithm can’t be adapted to specific needs of context.</li>
<li>Context passes itself as a parameter or Strategy has a reference to its Context.<br />
<strong>+</strong> Reduced interaction overhead.<br />
<strong>-</strong> Context must define a more elaborate interface to its data.<br />
<strong>--</strong> Closer coupling of Strategy and Context.</li>
</ol>
</li>
</ul>
</div></section>
<section class="slide" data-title="Variations with Fixed Interface"><div class="section-body"><h1>Variations with Fixed Interface</h1>
<div class="statement">Strategy objects are effective in modeling features of an object with dynamically <strong>varying implementations but fixed interfaces</strong>.</div>
</div></section>
<section class="slide" data-title="Increased Number of Objects"><div class="section-body"><h1>Increased Number of Objects</h1>
<p>Potentially many strategy objects need to be instantiated.</p>
<hr />
<p>To alleviate this problem you may use <strong>Stateless Strategies</strong> (<em>Services</em>):</p>
<ul>
<li>The number of strategy objects can sometimes be reduced by stateless strategies that several Contexts can share.</li>
<li>Any state is maintained by Context.</li>
<li>Context passes it in each request to the Strategy object.<br />
(No / less coupling between Strategy implementations and Context.)</li>
<li>Shared strategies should not maintain state across invocations.</li>
<li>Such strategies are <strong>Services</strong>.</li>
</ul>
</div></section>
<section class="slide" data-title="Composition of Multiple Variations"><div class="section-body"><h1>Composition of Multiple Variations</h1>
<div class="statement">Strategy objects cannot be effectively used to model interdependent variations. </div>
<p><strong>Illustrative example</strong>:</p>
<section class="story"><div class="section-body"><p>The <code>JTable</code> class in Java’s Swing library uses the interface <code>TableCellRenderer</code> to abstract from different ways in which table cells can be rendered.</p>
<p>But, cell rendering may depend on other kinds of variations of table functionality, e.g., on the presence of selection or drag-and-drop functionality.
Usually, selected cells and drag-and-drop targets are rendered in a special way. </p>
</div></section>
<p>Such interdependencies between different variation dimensions cannot be properly modularized using strategy objects only. </p>
</div></section>
<h3>Takeaway</h3>
<section class="slide" data-title="Takeaway"><div class="section-body"><h1>Takeaway</h1>
<p>The core of the Strategy Pattern is to model variability of object features by 
outsourcing the implementation of these features in “helper” (strategy) objects
Exploiting “implementation to interfaces” and subtype polymorphism for abstracting over variations of the outsourced feature. </p>
<p>The Strategy pattern addresses two problems of inheritance:</p>
<ul>
<li>Variations become reusable. </li>
<li>Dynamic variations of features becomes possible.</li>
</ul>
</div></section>
<p>Technically, a combination of object composition and inheritance is used instead of inheritance only.</p>
<p><strong>The Strategy pattern has its costs</strong>:</p>
<ul>
<li>Variations leave a footprint in the base implementation of the object.</li>
<li>Structural variations are not supported.</li>
<li>Careful planning of a one-size-fits-all interface is needed.</li>
<li>Bloated interfaces and interaction overhead between strategy objects and their usage contexts.</li>
<li>Increased number of objects.</li>
<li>Multiple interdependent variations not properly supported. </li>
</ul>
<h2>Filing the Design Space between Template and Strategy</h2>
<section class="slide" data-title="Filing the Design Space between Template and Strategy"><div class="section-body"><p><strong>Using mixin-composition and self-type annotations widens the design space.</strong></p>
<pre><code class="Scala">trait Component

trait LayoutEngine {
    def layout(components: Array[Component])
}

trait BasicLayoutEngine extends LayoutEngine {
    def layout(components: Array[Component]) { /*Basic means nothing..*/ }
}

class Container(private val components: Array[Component]) { 
  this: LayoutEngine ⇒ // &lt;= Self-type annotation
  def doLayout() {
    layout(components);
  }
}

object LayoutEngineDemo extends App {
    val c : Container = new Container(Array()) with BasicLayoutEngine
    //c.layout (won&apos;t compile!)
    c.doLayout 
    println(c)
}
</code></pre>
</div></section>
<p>Using this approach the solution is type-safe and variations are (still) reusable. However, dynamic variations of features are no longer possible. </p>
<p>Overall, we have the following advantages:</p>
<ul>
<li>LayoutEngine (low-level mechanism) is well modularized and reusable</li>
<li>Basically no overhead, because we do not have an additional object (as in case of Template Method)</li>
<li>The interface of <code>Container</code> is not polluted (conforms to the ISP)</li>
</ul>
<p>and the following disadvantage:</p>
<ul>
<li>&quot;strategy&quot; is not dynamically exchangeable</li>
</ul>
