<h2>Decorator Design Pattern</h2>
<h3>Intent of the Decorator Pattern</h3>
<section class="slide" data-title="Intent of the Decorator Pattern"><div class="section-body"><h1>Intent of the Decorator Pattern</h1>
<p>We need to <strong>add functionality to existing objects</strong></p>
<ul>
<li><strong>dynamically</strong>, i.e., during runtime after the object is created,</li>
<li><strong>without having to implement conditional logic</strong> to use the new functionality.</li>
</ul>
</div></section>
<p>The usual way to add new functionality to an existing design is by means of inheritance. But, as we have already discussed, dynamic extensions are not supported, the extensions are non-reusable, and multiple extensions are hard to combine.</p>
<p>These problems are targeted by Decorator. Decorator is also suggested to solve the fragile base-class problem. </p>
<p>Decorator can be an alternative to Strategy with different trade-offs.</p>
<h3>The Decorator Pattern in a Nutshell</h3>
<section class="slide" data-title="The Structure of a Decorator-Based Design"><div class="section-body"><h1>The Structure of a Decorator-Based Design</h1>
<p><img src="Images/DP-Decorator-Structure.png" alt="DP Decorator Structure" /></p>
</div></section>
<ul>
<li><p><code>ConcreteComponent</code> is a representative for all classes whose objects should be dynamically extensible with new functionality.</p>
</li>
<li><p><code>Component</code> can be: </p>
<ul>
<li>an interface that declares all operations of <code>ConcreteComponent</code> objects whose functionality we want to extend dynamically (here represented by operation),</li>
<li>a common (abstract) superclass of all <code>ConcreteComponent</code> classes, which implements common functionality.</li>
</ul>
</li>
<li><p>Any <code>Decorator</code> is also a <code>Component</code>: </p>
<ul>
<li>Maintains a field <code>comp</code> of type <code>Component</code></li>
<li>Implements the operations declared in <code>Component</code></li>
<li>Default implementation forwards the same operation to <code>comp</code>.<br /></li>
<li>Special decorators perform some additional functionality  before or after forwarding to <code>comp</code>.</li>
</ul>
</li>
</ul>
<section class="slide" data-title="The Decorator Pattern by Example"><div class="section-body"><h1>The Decorator Pattern by Example</h1>
<p><img src="Images/DP-Decorator-java.io.png" alt="DP Decorator Java.Io" /></p>
<p><strong>Example Code</strong></p>
<pre><code class="Java">DataInputStream dis = new DataInputStream(new FileInputStream(file));

dis.readUnsignedByte();
</code></pre>
</div></section>
<p><code>java.io</code> abstracts various data sources and destinations.</p>
<p>It uses Decorator to modularize various processing algorithms that operate on raw data.</p>
<h3>Advantages of Decorator-Based Designs</h3>
<section class="slide" data-title="Each Variation Defined Once: No Code Duplication"><div class="section-body"><h1>Each Variation Defined Once</h1>
<h2>No Code Duplication</h2>
<div style="background-color:#fcc">
  Using inheritance only:
  <img src="Images/DP-Decorator-IOWithInheritanceOnly.png" style="width:750px;float:right"> 
</div>
<p>  <div style="clear:both"></div></p>
<hr />
<p>  <img src="Images/DP-Decorator-java.io.png" style="width:750px;float:right">
  Using the Decorator Pattern:</p>
</div></section>
<p>Decorator-based designs share the desired properties of corresponding designs based on inheritance only that <strong>variations are well modularized</strong>. We define one class per variation of base and decorative functionality.</p>
<p>Unlike inheritance-based designs, decorator-based designs yield <strong>variations that are reusable</strong> with any class in the Component hierarchy. Furthermore, <strong>variations are applied dynamically</strong>.</p>
<section class="slide" data-title="Improved Flexibility"><div class="section-body"><h1>Improved Flexibility</h1>
<ul>
<li><p>Decorative functionality can be added / removed at run-time.</p>
</li>
<li><p>Combining different decorator classes for a component class enables to mix and match responsibilities as needed.</p>
</li>
</ul>
<pre><code class="Java">…
is = new FileInputStream(file);
is.read(…);
…
DataInputStream dis = new DataInputStream(is);
dis.readUnsignedByte();
… 
(new BufferedInputStream(dis)).readLine(…);
</code></pre>
<ul>
<li><p>Easy to add functionality twice.<br />
E.g., given a class <code>BorderDecorator</code> for a <code>TextField</code>, to add a double border, attach two instances of <code>BorderDecorator</code>.</p>
</li>
</ul>
</div></section>
<section class="slide" data-title="Decorator Avoids Incoherent Classes"><div class="section-body"><h1>Decorator Avoids Incoherent Classes</h1>
<p>No need for feature-bloated classes positioned high up in the inheritance hierarchy to avoid code duplication.</p>
<p>Pay-as-you-go approach: Do not bloat, but extend using fine-grained Decorator classes.</p>
<ul>
<li>Functionality can be composed from simple pieces.</li>
<li>A client does not need to pay for features it does not use.</li>
</ul>
</div></section>
<section class="slide" data-title="Advantages of Decorator-Based Designs"><div class="section-body"><h1>Advantages of Decorator-Based Designs</h1>
<div class="statement">A fine-grained Decorator hierarchy is easy to extend.  </div>
<hr />
<div class="statement">Decorator helps to design software that better supports OCP.</div>
</div></section>
<h3>Problems of Decorator-Based Designs</h3>
<section class="slide" data-title="Problems of Decorator-Based Designs"><div class="section-body"><h1>Problems of Decorator-Based Designs</h1>
<p><strong>Lots of Little Objects</strong></p>
<hr />
<p><strong>A decorator and its component are not identical (Object identity)</strong></p>
<pre><code class="Java">FileInputStream fin = new FileInputStream(“a.txt”);
BufferedInputStream din = new BufferedInputStream(fin);
…
fin.read(); // NO BUFFERING
</code></pre>
<hr />
<p><strong>No Late Binding</strong></p>
<aside data-title="Forwarding vs. Delegation"><div class="aside-body"><div style="float:left;width:45%">
  <h1>Forwarding</h1>
  <img src="Images/DP-DecoratorForwarding.png" style="display:block;margin:auto">
  Forwarding with binding of this to method holder; "ask" an object to do something on its own.
  </div>
  <div style="float:right;width:45%">
  <h1>Delegation</h1>
  <img src="Images/DP-DecoratorDelegation.png" style="display:block;margin:auto">
  Binding of this to message receiver: “ask” an object to do something on behalf of the message receiver.
</div>	  
</div></aside>
</div></section>
<ul>
<li><p>Lots of little objects:</p>
<ul>
<li>A design that uses Decorator often results in systems composed of lots of little objects that all look alike. Objects differ only in the way they are interconnected, not in their interface or in the value of their variables. </li>
<li>Such systems are easy to customize by those who understand them, but can be hard to learn and debug. The responsibility for combining features is put on the shoulders of a library user.</li>
</ul>
</li>
<li><p>Object identity (A decorator and its component are not identical!):</p>
<ul>
<li>From an object identity point of view, a decorated component is not identical to the component itself.</li>
<li>You should not rely on object identity when you use decorators.</li>
<li>Easy to &quot;forget&quot; the &quot;decorative&quot; functionality.</li>
</ul>
</li>
<li><p>No late binding:</p>
<ul>
<li>A decorator and its component interact via forward semantics. </li>
<li>Forward semantics does not ensure late binding as we know from inheritance.</li>
<li>Delegation semantics is not available in mainstream class-based OO languages.</li>
</ul>
</li>
</ul>
<section class="slide" data-title="No Late Binding Illustrated"><div class="section-body"><h1>No Late Binding Illustrated</h1>
<p>  <img src="Images/DP-Decorator-AccountExampleExcerpt.png" style="float:left"></p>
<p><strong>Task</strong>:</p>
<p><em>Extend the design to enable online access to accounts.</em></p>
<p>Decorator seems to be the right choice!</p>
<p>Among other things, we decorate the description of accounts with the label “online”.</p>
<p>The way the history is calculated does not need to be decorated, hence, the decorator just forwards. </p>
</div></section>
<p>The diagram shows a simplified extract of the design of a banking application:</p>
<ul>
<li><p>There are two kinds of accounts: </p>
<ul>
<li>Checking accounts for day-to-day bank transactions.</li>
<li>Saving accounts for depositing money with a fixed interest rate.</li>
</ul>
</li>
<li>Accounts know how to return a string that describes them.</li>
<li>Accounts declare a method for printing a history of recently performed transactions.</li>
</ul>
<section class="slide"><div class="section-body"><h1>No Late Binding Illustrated</h1>
<p><img src="Images/DP-Decorator-AccountExample.png" alt="DP Decorator AccountExample" /></p>
<footer><div class="footer-body"><p>Do you see where we hit the &quot;no-late binding&quot; problem?</p>
</div></footer>
</div></section>
<section class="slide"><div class="section-body"><h1>No Late Binding Illustrated</h1>
<p>Consider the following client code:</p>
<p>  <img src="Images/DP-Decorator-AccountExample.png" style="float:right;width:60%"></p>
<pre><code class="Java">…
Account checkingAcc = 
  new CheckingAccount(…);

…
Account onlineAcc = 
  new OnlineAccount(
    checkingAccount);

…
onlineAcc.printHistory();
…
</code></pre>
<footer><div class="footer-body"><p>Does the call to <code>printHistory</code> on <code>onlineAcc</code> behave as expected?</p>
</div></footer>
</div></section>
<p><strong>Answer</strong>: OnlineDecorator decorates getType(). Yet, since CheckingAccount.printHistory() calls getType() via this, the execution escapes the decoration of getType().</p>
<blockquote><p>Call to onlineDec.printHistory().</p>
<p>a) Call to checkingAcc.printHistory() as the result of the forwarding by the call to account.printHistory() in the implementation of OnlineDecorator.printHistory().</p>
<p>b) Execution of CheckingAccount.printHistory(). Call to getType() inherited from Account, not OnlineAccount!</p>
</blockquote>
<h3>Implementation Issues</h3>
<section class="slide" data-title="Implementation Issues"><div class="section-body"><h1>Implementation Issues</h1>
<section class="highlight"><div class="section-body"><h2>Keep the common class (Component) lightweight!</h2>
<hr />
<h2>A decorator&apos;s interface must conform to the interface of the component it decorates.</h2>
<hr />
<p>There is no need to define an abstract Decorator class when you only need to add one responsibility.</p>
</div></section>
</div></section>
<p>The common class should focus on defining an interface. Defer defining data representation to subclasses. Otherwise, the complexity of Component might make the decorators too heavyweight to use in quantity.
Putting a lot of functionality into Component makes it likely that subclasses will pay for features they do not need.
These issues require pre-planning. Difficult to apply the decorator pattern to 3rd-party component class.</p>
<p>It is often the case that you do not need to define an abstract Decorator class when you&apos;re dealing with an existing class hierarchy rather than designing a new one. In this case, you can merge Decorator&apos;s responsibility for forwarding requests to the component into the concrete Decorator.</p>
<h3>Decorator and the Fragile Base-Class Problem</h3>
<section class="slide" data-title="Decorator and the Fragile Base-Class Problem"><div class="section-body"><h1>Decorator and the Fragile Base-Class Problem</h1>
<p>The Decorator pattern is suggested in several books (e.g., <em>Effective Java</em> by Joshua Bloch) as a solution to the fragile base-class problem.</p>
<div class="statement">Does the use of the Decorator Pattern solve the fragile base-class problem?</div>
</div></section>
<section class="slide"><div class="section-body"><h1>The <code>InstrumentedHashSet</code> again…</h1>
<pre><code class="Java">public class InstrumentedHashSet&lt;E&gt; extends java.util.HashSet&lt;E&gt; {
  private int addCount = 0;    
  …
  @Override public boolean add(E e) {        
    addCount++;
    return super.add(e);
  }    
  @Override public boolean addAll(java.util.Collection&lt;? extends E&gt; c) {
    addCount += c.size();
    return super.addAll(c);
  }
  public int getAddCount() {
    return addCount;
  }
}
…
public static void main(String[] args) {
  InstrumentedHashSet&lt;String&gt; s = new InstrumentedHashSet&lt;String&gt;();
  s.addAll(Arrays.asList(&quot;aaa&quot;, &quot;bbb&quot;, &quot;ccc&quot;));
  System.out.println(s.getAddCount());
}
</code></pre>
<footer><div class="footer-body"><p>Ask yourself (again): What is printed on the screen?</p>
</div></footer>
</div></section>
<section class="slide" data-title="A Decorator-Based `InstrumentedSet`"><div class="section-body"><h1>A Decorator-Based <code>InstrumentedSet</code></h1>
<ol>
<li>Declare an interface <code>Set&lt;E&gt;</code></li>
<li>Let <code>HashSet&lt;E&gt;</code> implement <code>Set&lt;E&gt;</code></li>
<li>Define <code>ForwardingSet&lt;E&gt;</code> as an implementation of <code>Set&lt;E&gt;</code></li>
<li><p><code>ForwardingSet&lt;E&gt;</code> (our root Decorator)</p>
<ul>
<li>Has a field <code>s</code> of type <code>Set&lt;E&gt;</code></li>
<li>Implements methods in <code>Set&lt;E&gt;</code> by forwarding them to <code>s</code></li>
</ul>
</li>
<li><code>InstrumentedSet&lt;E&gt;</code> (a concrete Decorator) extends <code>ForwardingSet&lt;E&gt;</code> and overrides methods <code>add</code> and <code>addAll</code></li>
</ol>
<aside data-title="Recipe For Using Decorator"><div class="aside-body"><p>Instead of inheriting from a class <code>C</code> to define <code>EC</code>:</p>
<ul>
<li>Declare the interface of <code>C</code>, <code>IC</code></li>
<li>Let <code>C</code> implement <code>IC</code></li>
<li><p>If more than one decoration is planned:</p>
<ul>
<li>Let a class <code>ForwardingC</code> implement <code>IC</code>.</li>
<li><code>ForwardingC</code> has a field <code>ic</code> that holds an object of type <code>IC</code>.</li>
<li><code>ForwardingC</code> implements methods in <code>IC</code> by forwarding to <code>ic</code>. </li>
<li>Let <code>EC</code> extend <code>ForwardingC</code> and override methods in <code>IC</code> affected by the extension.</li>
</ul>
</li>
<li><p>Otherwise:</p>
<ul>
<li>Let <code>EC</code> implement <code>IC</code>.</li>
<li><code>EC</code> has a field ic that holds an object of type <code>IC</code>.</li>
<li><code>EC</code> implements methods in IC affected by the extension and forwards the rest to <code>ic</code>. </li>
</ul>
</li>
</ul>
</div></aside>
</div></section>
<section class="slide" data-title="A `ForwardingSet&lt;E&gt;`"><div class="section-body"><h1>A <code>ForwardingSet&lt;E&gt;</code></h1>
<pre><code class="Java">import java.util.*;
public class ForwardingSet&lt;E&gt; implements Set&lt;E&gt; {
  private final Set&lt;E&gt; s;

  public ForwardingSet(Set&lt;E&gt; s) { this.s = s; }
  public void clear() { s.clear();}
  public boolean contains(Object o) { return s.contains(o); }
  public boolean isEmpty(){ return s.isEmpty();}
  public int size(){ return s.size();}
  public Iterator&lt;E&gt; iterator(){ return s.iterator();}
  public boolean add(E e){ return s.add(e);}
  public boolean remove(Object o) { return s.remove(o);}
  public boolean containsAll(Collection&lt;?&gt; c) { ... }
  public boolean addAll(Collection&lt;? extends E&gt; c) { ... }
  public boolean removeAll(Collection&lt;?&gt; c) {...}
  …
}
</code></pre>
</div></section>
<section class="slide" data-title="An Alternative `InstrumentedSet`"><div class="section-body"><h1>An Alternative <code>InstrumentedSet</code></h1>
<pre><code class="Java">import java.util.*;
public class InstrumentedSet&lt;E&gt; extends ForwardingSet&lt;E&gt; {
  private int addCount = 0;
  public InstrumentedSet(Set&lt;E&gt; s) { super(s); }
  @Override public boolean add(E e) {
    addCount++;
    return super.add(e);
  }
  @Override public boolean addAll(Collection&lt;? extends E&gt; c){
    addCount += c.size();
    return super.addAll(c);
  }
  public int getAddCount() { return addCount; }
}
public static void main(String[] args) {
  InstrumentedSet&lt;String&gt; s =
    new InstrumentedSet&lt;String&gt;(new HashSet&lt;String&gt;());
  s.addAll(Arrays.asList(&quot;aaa&quot;, &quot;bbb&quot;, &quot;ccc&quot;));
  System.out.println(s.getAddCount());
}
</code></pre>
<footer><div class="footer-body"><p>What is printed on the screen?</p>
</div></footer>
</div></section>
<p>In this case, the value <code>3</code> is printed on the screen. The internal call to add in the implementation of <code>addAll</code> in <code>HashSet</code> does not come back to the decorater <code>s</code>; hence, it does not increase the counter.</p>
<p><strong>Bloch&apos;s Conclusion</strong>:
The Decorator-based solution is better.<br />
There are only few disadvantages:</p>
<ul>
<li>No late binding.</li>
<li>Tedious to write forwarding methods, „but you do it only once“.</li>
<li>Efficiency impact of forwarding and memory footprint, but „<em>neither turns out to have much impact in practice</em>“</li>
</ul>
<section class="slide" data-title="Decorator and the Fragile Base Class"><div class="section-body"><h1>Decorator and the Fragile Base Class</h1>
<div class="statement">Does the decorator-based design really solve the fragile base-class problem?</div>
</div></section>
<p><strong>Ask yourself</strong>:</p>
<p>What happens if I add a new method to the interface?<br />
Doesn‘t the same problems reappear as with inheritance?</p>
<ul>
<li>Adding a method to the interface may escape the decoration (e.g., imagine a method <code>add(Collection,Filter)</code> is added to <code>Set&lt;E&gt;</code> and to <code>ForwardingSet&lt;E&gt;</code>; after that all compile-time requirements are satisfied, but <code>InstrumentedSet&lt;E&gt;</code> does not override the method and, hence, does not update the counter correctly.)</li>
<li>&quot;Some logic&quot; needs to be reimplemented. E.g., imagine that a method is added to set a filter (<code>setFilter(Filter)</code>) and after that always only those elements are added to the set that pass the filter. Such a change would require to duplicate the logic in our decorator.</li>
<li>Adding a method to the interface may conflict (signature) with the methods defined by the concrete decorator.</li>
</ul>
<h3>Decorator and Strategy</h3>
<section class="slide" data-title="Decorator and Strategy"><div class="section-body"><h1>Decorator and Strategy</h1>
<p>Decorator and Strategy share the goal of <strong>supporting dynamic behavior adaptation</strong>. </p>
<p><img src="Images/DP-DecoratorVsStrategy.png" alt="DP DecoratorVsStrategy" /></p>
</div></section>
<p>Decorator and Strategy can be used to simulate the effect of each other.</p>
<section class="slide" data-title="Simulate the Effect of Each Other"><div class="section-body"><h1>Simulate the Effect of Each Other</h1>
<p>By extending the number of strategies from just one to an open-ended list, we achieve principally the same effect as nesting decorators.</p>
<p><img src="Images/DP-DecoratorStrategySimulationStrategy.png" alt="DP DecoratorStrategySimulationStrategy" /></p>
</div></section>
<p><strong>Example</strong>: </p>
<ul>
<li>We can use Strategy to simulate data processing decoration of streams.</li>
<li>Different processing steps can be supported by having the component forward data-processing functionality to a <code>DataProcessing</code> object, which in turn may encapsulate another <code>DataProcessing</code> object. (<code>DataProcessing</code> objects encapsulate data-processing strategies.)</li>
</ul>
<section class="slide" data-title="Transparent vs. Non-Transparent Change"><div class="section-body"><h1>Transparent vs. Non-Transparent Change</h1>
<p><strong>Decorator changes a component from the outside</strong>:<br />
The component does not know about its decorators.
<img src="Images/DP-DecoratorStrategySimulationDecorator.png" alt="DP DecoratorStrategySimulationDecorator" /></p>
<hr />
<p><strong>Strategy changes a component from the inside</strong>:<br />
Component knows about Strategy-based extensions.
<img src="Images/DP-DecoratorStrategySimulationStrategy.png" alt="DP DecoratorStrategySimulationStrategy" /></p>
</div></section>
<h4>Changing the Skin versus Changing the Guts</h4>
<p>Decorator can be viewed as a skin over an object that changes its behavior.</p>
<p>Strategy can be viewed as guts inside an object that changes its behavior.</p>
<h4>Preferring Decorator over Strategy</h4>
<p><strong>The Decorator has two principal advantages over Strategy:</strong></p>
<ol>
<li><strong>Improved modularity</strong>: The Decorator “infrastructure” does not leave any footprint in the implementation of the decorated object.</li>
<li><strong>Extensible interface</strong>: Decorators can extend the interface of the decorated component “on-demand”; No need to plan an “one-size-fits-all” interface. <br /></li>
</ol>
<p>Consequently, the decorator is better when:</p>
<ul>
<li>We cannot foresee variations. </li>
<li>It is hard to design an interface that fits all needs of the variations.</li>
</ul>
<h4>Preferring Strategy over Decorator</h4>
<p><strong>The Strategy pattern is better when the varying object type is intrinsically heavyweight.</strong></p>
<p>The Decorator pattern is too costly to apply in this case. A Decorator&apos;s interface must conform to Component&apos;s interface.</p>
<p>A Strategy can have its own specialized interface. E.g., a strategy for rendering a border need only define the interface for rendering a border (<code>drawBorder()</code>, <code>getWidth()</code>, …).</p>
<p>Furthermore, a Strategy class can be lightweight even if the Component class is heavyweight.</p>
<h4>Summary</h4>
<section class="slide" data-title="Takeaway Decorator vs. Strategy"><div class="section-body"><h1>Takeaway Decorator vs. Strategy</h1>
<p>Like the Strategy, the Decorator pattern also uses a combination of object composition and inheritance/subtype polymorphism to support dynamic and reusable variations.</p>
<p>Unlike the Strategy, it adapts object behavior from the outside rather than inside.
Unlike Strategy, variations encapsulated in decorator objects do not leave any footprint in the behavior of the objects being adapted.</p>
<p>In that sense, it has a stronger “inheritance” resemblance than Strategy. </p>
</div></section>
<h3>Takeaway</h3>
<section class="slide" data-title="Takeaway"><div class="section-body"><h1>Takeaway</h1>
<p>Decorator has its own trade-offs.</p>
<p>Decorator may lead to error-prone and hard to understand designs.</p>
<ul>
<li>Many little objects emulate the behavior of a conceptually single object.</li>
<li>No object identity.</li>
<li>No late-binding.</li>
<li><p>Not appropriate for modeling the variability of heavy-weight objects with a lot of functionality. </p>
</li>
<li>Might not be applicable to third-party library objects.</li>
<li><p>It does not really solve the fragile base-class problem.</p>
</li>
</ul>
</div></section>
<h3>Delegation and Mixin-Composition</h3>
<section class="slide" data-title="A &quot;Static&quot; Decorator"><div class="section-body"><h1>A &quot;Static&quot; Decorator</h1>
<p>Using mixins we can statically decorate classes (class composition vs. object composition) and also get delegation semantics. </p>
<pre><code class="Scala">trait Component {
  def state : String
  def name: String
}
case class AComponent (val id : String) extends Component {
    def state = name+&quot;:&quot;+id
    def name = &quot;A&quot;
}
trait ComponentDecoratorA extends Component {
    abstract override def name = &quot;ByADecorated:&quot;+super.name
}
trait ComponentDecoratorB extends Component {
    abstract override def name = &quot;ByBDecorated:&quot;+super.name
}

object DemoStructuralDecorator extends App {
  val c = new AComponent(&quot;42&quot;)   // static decoration
              with ComponentDecoratorA with ComponentDecoratorB 
  println(c.state)
}
</code></pre>
<footer><div class="footer-body"><p>Output: <code>ByBDecorated:ByADecorated:A:42</code></p>
</div></footer>
</div></section>
<p><strong>Assessment</strong>:</p>
<ul>
<li>Each Decorator is well modularized</li>
<li>We get delegation semantics.</li>
<li>No overhead (no little objects).</li>
<li>No dynamic decoration.</li>
</ul>
<p><strong>Task</strong>: Apply this example to the <code>Account</code> example.</p>
<p>Ask yourself: Does <strong>Mixin-Composition</strong> solve the fragile base-class problem?</p>
<p>Further reading: <a href="http://www.artima.com/scalazine/articles/stackable_trait_pattern.html">Stackable Traits</a></p>
